*.exe
*.pdb
*.log
*.ini
*.cache

obj/*
obj\*

bin/Debug/Serial.log
bin/Debug/Errors.log
bin/Debug/Events.log

bin/Debug/FastenTerminal.exe
bin/Debug/FastenTerminal.pdb
obj/Debug/FastenTerminal.exe
obj/Debug/FastenTerminal.pdb

bin/Debug/app.publish/Application Files/*

obj/Debug/*
bin/Debug/FastenTerminal.application
*.pdb
bin/Debug/FastenTerminal.exe.manifest
/bin/CreateZip
